[submodule "link/.vim/bundle/vim-pathogen"]
	path = link/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "link/.vim/bundle/vim-tomorrow-theme"]
	path = link/.vim/bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "link/.vim/bundle/vim-markdown"]
	path = link/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
