[submodule "link/.vim/bundle/vim-pathogen"]
	path = link/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "link/.vim/bundle/vim-markdown"]
	path = link/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "link/.vim/bundle/ctrlp.vim"]
	path = link/.vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "link/.vim/bundle/editorconfig-vim"]
	path = link/.vim/bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "link/.vim/bundle/nerdtree"]
	path = link/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
