# Extra "Nerd Font characters"
# 󱠿   󰯈
# ╭─────────
# │    
# ╰───
# in case you forget again,
# you can type unicode character by switching
# the keyboard layout to "Unicode Hex Input"
# and then holding option and typing the hex code
#
# Ok, check this out - https://github.com/ryanoasis/powerline-extra-symbols
#

format = """
[╭──](fg:#44475A)$fill$time
[│](fg:#44475A)$nodejs$directory$git_branch$git_commit $git_status
[╰─](fg:#44475A)$character
"""
#right_format = "$battery"
command_timeout = 5000

#
#   Top Line
#

[nodejs]
symbol = ""
format = "[ $symbol ](fg:green)[($version) ](fg:green)"

[fill]
symbol = "─"
style = "fg:#44475A"

[time]
disabled = false
format = "[ $time ](fg:#676c8a)"
time_format = "%d %b %Y 󱑌 %T"

[battery]
format = "[](fg:black bg:green)[$symbol]()[]()[ $percentage ]($style bg:black)"
full_symbol = " 󰁹"
empty_symbol = " 󰂎"
charging_symbol = " 󰂄"
discharging_symbol = "󰁽"
unknown_symbol = "󰂑"

[[battery.display]]
threshold = 100
discharging_symbol = "󰁹"
charging_symbol = "󰂄"
style = "fg:bright-green"

[[battery.display]]
threshold = 80
discharging_symbol = "󰁽"
charging_symbol = "󰂄"
style = "fg:green"

[[battery.display]]
threshold = 30
discharging_symbol = "󰁽"
charging_symbol = "󰂄"
style = "fg:yellow"

[[battery.display]]
threshold = 10
discharging_symbol = "󰂎"
charging_symbol = "󰂄"
style = "fg:red "

#
#   Middle Line
#

[directory]
truncation_length = 10
format = '[ ]( fg:cyan)[ $path ](bg:cyan fg:black)'

[git_branch]
symbol = " "
always_show_remote = true
format = '[](bg:cyan fg:purple)[ $symbol$branch( 󰤉$remote_name) ](bg:purple fg:black)[](fg:purple )'
only_attached = true

[git_commit]
format = '[](bg:cyan fg:purple)[  $hash](bg:purple fg:black)[](fg:purple )'
only_detached = true

[git_status]
format = '([($conflicted)($untracked)($modified)($deleted)($staged)($renamed)($stashed) $ahead_behind](fg:purple))'
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = '\[⇡${ahead_count} ⇣${behind_count}\]'
conflicted = "[󰋔](red)"
untracked = "[?](red)"
modified = "[M](red)"
deleted = "[D](red)"
staged = "[+](green)"
renamed = "[R](green)"
stashed = '󱗞 '

#
# Bottom Line
#

#
# Prompt character
#

[character]
success_symbol = "[ △ ](bold green)"
error_symbol = "[ ▲ ](bold red)"

##
## Other stuff I'm less likely to use
##

[golang]
symbol = ""
disabled = true
format = "[ $symbol ($version) ]($style)"
version_format = "v${major}.${minor}"

[aws]
symbol = "󰸏 "

[package]
symbol = " "

[docker_context]
symbol = " "

[elm]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "
