layout {
    cwd "/Users/nathan.stilwell"
    tab name="[TODO]" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="nvim" cwd="/Users/nathan.stilwell/.profiles" {
          args "bilt/todos/work-log-2025.md"
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="[HACK]" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="nvim" cwd="/Users/nathan.stilwell/code/bilt-frontend" size="97%" {
            start_suspended true
        }
        pane borderless=true size="3%"
    }
    tab name="[CONFIG]" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane command="nvim" cwd="~/.dotfiles" focus=true size="50%"
            pane size="50%" {
                pane cwd=".profiles/bilt" size="50%"
                pane cwd=".config/nvim" size="50%"
            }
        }
    }
    tab name="[NOTE]" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="nvim" cwd="/Users/nathan.stilwell/.profiles/bilt/notes" {
            start_suspended true
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane borderless=true cwd="/Users/nathan.stilwell"
    }
}
