layout {
    cwd "/Users/nathan.stilwell"
    tab name="[TODO]" focus=true hide_floating_panes=true {
        pane size=1 {
            plugin location="zellij:tab-bar"
        }
        pane command="nvim" cwd="/Users/nathan.stilwell/.profiles" {
          args "bilt/todos/work-log-2026.md"
        }
        pane size=1 {
            plugin location="status-bar"
        }
    }
    tab name="[HACK]" hide_floating_panes=true {
        pane size=1 {
            plugin location="zellij:tab-bar"
        }
        pane cwd="/Users/nathan.stilwell/code/bilt-frontend" { }
    }

    tab name="[CLAUDE]" hide_floating_panes=true {
        pane size=1 {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
          pane command="claude" cwd="/Users/nathan.stilwell/code/bilt-frontend" size="50%"
          pane command="claude" cwd="/Users/nathan.stilwell/code/bilt-mobile" size="50%"
        }
    }

    tab name="[DEVIN]" hide_floating_panes=true {
        pane size=1 {
            plugin location="zellij:tab-bar"
        }
        pane command="devin" cwd="/Users/nathan.stilwell/code"
    }

    tab name="[CONFIG]" hide_floating_panes=true {
        pane size=1 {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane cwd="~/.dotfiles" focus=true size="50%"
            pane size="50%" {
                pane cwd=".profiles/bilt" size="50%"
                pane cwd=".config/nvim" size="50%"
            }
        }
    }
    tab name="[NOTE]" hide_floating_panes=true {
        pane size=1 {
            plugin location="zellij:tab-bar"
        }
        pane command="nvim" cwd="/Users/nathan.stilwell/.profiles/bilt/notes" {
            start_suspended true
        }
    }
    new_tab_template {
        pane size=1 {
            plugin location="tab-bar"
        }
        pane cwd="/Users/nathan.stilwell"
    }
}
