[user]
  name = Nathan Stilwell

[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[push]
  default = tracking

[alias]
  tree = log --graph --decorate --date=relative --abbrev-commit
  mine = log --author 'Nathan Stilwell'
  recent = log -p -n 5
  last = log -p -n 1
  st = status -sb
  it = grep -n
  co = checkout
  ci = commit -m
  ca = commit -a -m
  df = diff
  scorch = clean -fdx
  delete = branch -d
  Delete = branch -D
  dropit = checkout -- .
  who = shortlog -sn
# Borrrowed from Doug Russell - https://github.com/rustle/KaleidoscopeVCSTidbits
  ksshow = "!f() { local SHA=${1:-HEAD}; git difftool -y -t Kaleidoscope $SHA^..$SHA; }; f"

[branch "master"]
  remote = origin
  merge = refs/heads/master

[gc]
  auto = 0
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
[mergetool "ksdiff"]
  cmd = ksdiff $LOCAL $REMOTE
  trustExitCode = true
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool]
  prompt = false
  keepBackup = false
[merge]
  tool = Kaleidoscope

[include]
  path = ~/.gitconfig-extras
[core]
  editor = atom --wait --new-window
